

td {
    padding: 8px;
  }

  body
  {color:black ;
  background: linear-gradient(150deg,orange, white); }
  h1{
    color:black; 
  }

  #l1{
    border: solid; border-color: black;border-width: 5px; width: fit-content;
  }


